@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1540px;
}

.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 15px 80px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    position: relative;
}


/* .nav-logo {
    color: #F3F3E0;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: 600;
}

.nav-logo .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-left: 16px;
} */

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: #71162c;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
}


/* .fa-code {
  margin-left: 1rem;
} */

.nav-item {
    line-height: 40px;
    margin-right: 1rem;
    font-weight: 400;
}

.nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #71162c;
}

.nav-item .active {
    color: #71162c;
    border: 1px solid #71162c;
}

.nav-icon {
    display: none;
    color: #f5b921;
}

.nav-icon .icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.nav-links {
    font-weight: 500;
    font-size: 19px;
}

@media screen and (max-width: 960px) {
   
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: black;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-item .active {
        color: #F3F3E0;
        border: none;
    }
    .nav-links {
        padding: 1.5rem;
        width: 100%;
        display: table;
    }
    .dropdown {
        width: 100%;
        align-items: center;
    }
    .nav-logo .icon {
        width: 2rem;
        height: 2rem;
    }
    .nav-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(-100%, -50%);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: #71162c;
    }
}


/* Importing Google font - Open Sans */